#uxLampContainer .genie-container {
  opacity: 0;
  text-align: left;
}

#uxLampContainer.fast .genie-container {
  transition: all .2s ease-in-out;
}

#uxLampContainer .genie-container.visible {
  opacity: 0.9;
  z-index: 1050;
}

/* ng-genie default styles */
#uxLampContainer .genie-container {
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: -1;
  border-radius: 8px;
}

#uxLampContainer .genie-container > input {
  border-radius: 8px;
  margin: 0px;
}

#uxLampContainer .genie-wishes {
  margin-top: 10px;
  cursor: pointer;
  overflow-y: auto;
}

#uxLampContainer .genie-wish {
}

#uxLampContainer .genie-wish.focused {
  border-radius: 8px;
}

/* ng-genie light styles */
#uxLampContainer.lamp-light .genie-container {
  color: #333;
  background-color: #F7F7F7;
  box-shadow: 0px 0px 26px 6px #888888;
}

#uxLampContainer.lamp-light .genie-wish.focused {
  background-color: #DDD;
}

/* ng-genie small styles */
#uxLampContainer.lamp-small .genie-container {
  width: 500px;
  margin-left: -272px;
  padding: 12px;
}

#uxLampContainer.lamp-small .genie-container > input {
  width: 472px;
  line-height: 40px;
  padding: 0px 12px 0px 12px;
  font-size: 34px;
  height: 54px;
}

#uxLampContainer.lamp-small .genie-wishes {
  width: 500px;
  max-height: 500px;
  font-size: 24px;
}

#uxLampContainer.lamp-small .genie-wish {
  padding: 0px 12px 0px 12px;
  line-height: 36px;
}
